  <div class="container"  style="text-align: center">
    <h1 class="main-title"> Search another exotic pet</strong>!</h1>
    <%= form_tag pets_path, method: :get do |f| %>
      <div class="search-form-control form-group">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control string required",
            placeholder: "Search an exotic pet...."
          %>
        <br>
        <button name="button" type="submit" class="btn btn-primary">
          <i class="fas fa-search"></i> Explore
        </button>
      </div>
    <% end %>
  </div>
<br><br>


<div class="pets-grid">
    <% @pets.each do |pet| %>
      <%= link_to pet_path(pet), class: "card-product" do %>
          <% if pet.photos.attached? %>
            <%= cl_image_tag pet.photos[0].key %>
          <% else %>
            <img src="http://loremflickr.com/280/280/ <%= pet.species %>" />
          <% end %>
          <div class="card-product-infos">
            <h2><%= pet.name %></h2>
            <p><%= pet.species %></p>
            <p><%= pet.description %></p>
            <p><%= pet.price %></p>
          </div>
      <% end %>
    <% end %>
</div>
