<h1 class="text-center"> <%= @pet.name %> </h1>
<div class="container">
  <div class="photos">
  <%#= raise %>
    <% @pet.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>


  <div>
      <h2 class='title-how-it-works'></h2>
      <div class="how-it-works">
        <div>
          <li class="li-tag"><i class="fas fa-search"></i></li>
           <h2 class="card-h2">Name:</h2>
            <div class= "info">
              <%= @pet.name %>
            </div>
        </div>
        <div>
        <li class="li-tag"> <i class="fas fa-pound-sign "></i></li>
          <h2 class="card-h2">Species:</h2>
          <div class= "info">
            <%= @pet.species %>
          </div>
        </div>
        <div>
        <li class="li-tag"><i class="fas fa-smile"></i></li>
          <h2 class="card-h2">Description</h2>
            <div class= "info">
          <%= @pet.description %>
            </div>
        </div>

  </div>
  </div>

  <% if current_user != @pet.user %>
    <div class="d-flex justify-content-center w-100">
      <%= link_to "Book me!", new_pet_booking_path(@pet.id), class:"btn btn-success" %>
    </div>
  <% else %>
    <%= link_to 'Update listing', edit_pet_path(@pet.id) %>
  <br>
    <%= link_to 'Delete listing', pet_path(@pet.id), method: 'delete' %>
  <% end %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p> Check out our other featured pets:</p>
  <div class="pets-grid">
      <% @pets.each do |pet| %>
        <div class="card-product">
          <%# link_to 'Pet listing', pet_path(pet) %>
            <img src="http://loremflickr.com/280/280/<%= pet.species %>" />
            <div class="card-product-infos">
              <h2><%= pet.name %></h2>
              <p> Species:<%= pet.species %></strong></p>
              <p> <strong><%= pet.description %></strong></p>
            </div>
        </div>
      <% end %>
  </div>
</div>
