<h1>Showpage</h1>
<div class="container">
  <div class="photos">
    <img src="http://fakeimg.pl/360x360/000/?text=1">
    <img src="http://fakeimg.pl/360x360/111/?text=2">
    <img src="http://fakeimg.pl/360x360/222/?text=3">
    <img src="http://fakeimg.pl/360x360/333/?text=4">
  </div>
</div>
<p> Name </p>
<%= @pet.name %>
<p> provided by </p>
<%#= @pet.user %>
<br>
<%= @pet.species %>
<br>
<%= @pet.description %>
<br>
<% if current_user != @pet.user %>
<%= link_to "Book me!", new_pet_booking_path(@pet.id) %>
<% else %>
<%= link_to 'Update listing', edit_pet_path(@pet.id) %>
<br>
<%= link_to 'Delete listing', pet_path(@pet.id), method: 'delete' %>
<% end %>
